In [14]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv('data_sampah.csv')
df.head(100)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_sampah,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,2229.42,TON/HARI,2016
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,532.78,TON/HARI,2016
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,924.26,TON/HARI,2016
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,2989.75,TON/HARI,2016
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,614.65,TON/HARI,2016
...,...,...,...,...,...,...,...,...
95,96,32,JAWA BARAT,3215,KABUPATEN KARAWANG,677.34,TON/HARI,2020
96,97,32,JAWA BARAT,3216,KABUPATEN BEKASI,1064.93,TON/HARI,2020
97,98,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,826.78,TON/HARI,2020
98,99,32,JAWA BARAT,3218,KABUPATEN PANGANDARAN,183.63,TON/HARI,2020
99,100,32,JAWA BARAT,3271,KOTA BOGOR,414.03,TON/HARI,2020

In [28]:
nama_kota = df['nama_kabupaten_kota']

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   189 non-null    int64
 1   kode_provinsi        189 non-null    int64
 2   nama_provinsi        189 non-null    object
 3   kode_kabupaten_kota  189 non-null    int64
 4   nama_kabupaten_kota  189 non-null    object
 5   jumlah_sampah        188 non-null    float64
 6   satuan               189 non-null    object
 7   tahun                189 non-null    int64
dtypes: float64(1), int64(4), object(3)
memory usage: 11.9+ KB